<p id="notice"><%= notice %></p>

<h1>Latest posts</h1>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <h2><%= link_to entry.subject, entry %></h2>
      <div><%= simple_format(entry.content) %></div>
      <div><%= entry.date %> in <b><%= link_to entry.blog.name, entry.blog %></b></div>
      <div>
        <%= link_to 'Edit', edit_entry_path(entry) %>
        <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>


<%= link_to 'New Entry', new_entry_path %>
