<p id="notice"><%= notice %></p>


<h1><%= @entry.subject %></h1>

<p>
  <%= simple_format(@entry.content) %>
</p>

<p>
  <%= @entry.date %>
</p>

<%= link_to 'Edit post', edit_entry_path(@entry) %> |
<%= link_to "to #{@entry.blog.name}", @entry.blog %> | 
<%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>

