<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @entry.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @entry.blog_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
