<!DOCTYPE html>
<html>
<head>
  <title>Blogipalvelu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to 'All Blogs', blogs_path %> <%= link_to 'Latest posts', entries_path %> <%= link_to 'Create blog', new_blog_path %> <%= link_to 'Add new entry', new_entry_path %>
</div>

<%= yield %>

</body>
</html>
